*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: 'Fira Code', monospace;
}

button {
  min-width: 70px;
}

button:not(:last-child) {
  margin-right: 2px;
}

#root {
  display: flex;
}

#sketch-container {
  margin-right: 2rem;
}

#controls {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  padding: 1rem;
  background-color: #444;
}

#controls > header {
  display: flex;
  flex-wrap: wrap;
}

#dynamic-controls {
  padding-top: 4rem;
}

.control {
  display: flex;
  flex-direction: column;
}

#sketches {
  padding: 16px;
}

#sketches li {
  cursor: pointer;
}

#sketches li:hover {
  color: magenta;
}

li.active {
  text-decoration: underline;
}

li.active::before {
  content: '* ';
}
